<%- include("partials/header.ejs") %>
<body>
  <h1> Admin Section </h1>
  <h2> Update and Delete Food </h2>

 <% foods.forEach( function(food){ %>
      [<a href="/updateFood?foodID=<%=food.foodID%>"> Update </a>]
      [<a class="deleteFood" href="#" id="<%=food.foodID%>"> Delete </a>]
     
      <span>
      <%=food.foodID%> <%= food.foodName%> <%=food.imgLink%>
      </span>
      <br>
  <% }) %>
 <script>
  $(".deleteFood").on("click",confirmDeleteFood);
  
  function confirmDeleteFood(){
    let foodId=$(this).attr("id");
    let deleteFood = confirm("Delete Food?"+$(this).next().html());
    if (deleteFood){
      //alert("deleting author...");
      window.location.href="/deleteFood?foodID="+foodId;

    }

  }
  
  


 </script>
</body>
</html>
